/CMakeFiles/
/CMakeCache.txt
/cmake-build-*

/parlay/parlaylib/build/
/parlay/build/

*.o
*.obj
*.so
*.dll
*.a
*.lib
*.exe
*.out

.vscode/
*.code-workspace

/build/

parlaylib/build/
parlaylib/*.o
parlaylib/*.so
